.gitignore
project/project/*
project/target/*
**/project/metals.sbt
*.pyc
logs/
target/*
.idea/
!target/IsaREPL.jar
.vscode/
.metals/
/python-test/python-test.iml
.bsp/

**/.bloop
**/.vscode
*.code-workspace