.gitignore
project/project/*
project/target/*
**/project/metals.sbt
*.pyc
target/*
.idea/
!target/IsaREPL.jar
.vscode/
.metals/
/python-test/python-test.iml
.bsp/
/out

**/.bloop
**/.vscode
*.code-workspace